* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .sechead {
    width: 100%;
    background-image: url(/images/image1.png)
    z-index -1;
   
    // background-size 65%;
    
  }